<!DOCTYPE html>
<html>
  <head>
    <title> Player {% block head_title %}{% endblock %}</title>
    
    {# Load the tag library #}
    {% load bootstrap3 %}
 
    
    {# Load CSS and JavaScript #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load i18n %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'extra-style.css' %}" >
    <link rel="stylesheet" href="{% static 'boostrap-social.css' %}" >
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block extra_head %}
    
    {% endblock %}
    {% block bootstrap3_extra_head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    
    {% if messages %}
    <div class="container">
        <div class="row">
            <strong>Messages:</strong>
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="jumbotron">
    {% block navbar %}
    {% endblock %}
      
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>
  </body>
</html>




